<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin/home" class="brand-wrap">
            <h3>ADMIN</h3>
        </a>
        <button onclick="window.location.href='/admin/home'" class="btn btn-danger">Back</button>
        <!-- <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button> 
           
        </div> -->
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="/admin/home">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-products-list.html">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/productAdd"> Product Add</a>
                    <a href="/admin/productList"> Products List</a>
                    <a href="/admin/categoryManagement">Categories</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">User</span>
                </a>
                <div class="submenu">
                    <a href="/admin/userManage">User management</a>
                    <a href="#">Error 404</a>
                </div>
            </li>
            
            <li class="menu-item has-submenu">
                <a class="menu-link" >
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    
                    <a href="/admin/orderUpdate">Order details</a>

                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link">
                    <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Coupon</span>
                </a>
                <div class="submenu">
                    <a href="/admin/coupon">Coupon Add</a>
                    <a href="/admin/couponList">Coupon List</a>
                </div>
            </li>

            <li class="menu-item has-submenu">
                <a class="menu-link" >
                    <i class="icon material-icons md-comment"></i>
                    <span class="text">Banner</span>
                </a>
                <div class="submenu">
                    <a href="/admin/bannerAdd">Banner Add</a>
                    <a href="/admin/bannerList">Banner List</a>
                    
                </div>
            </li>

        </ul>
        
        
        <br />
        <br />
    </nav>
</aside>